<h1>Сбросить пароль</h1>
<div class="col-6">
<%= form_for @changeset, @action, [as: :user], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
  <div class="mb-3">
  <%= label f, :password, class: "form-label" %>
  <%= password_input f, :password, class: "form-control" %>
  <%= error_tag f, :password %>

  <%= label f, :password_confirmation, class: "form-label" %>
  <%= password_input f, :password_confirmation, class: "form-control" %>
  <%= error_tag f, :password_confirmation %>
  </div>
  <div>
    <%= submit "Отправить", class: "btn btn-primary" %>
  </div>
<% end %>


<span><%= link "Войти", to: Routes.pow_session_path(@conn, :new) %></span>
</div>