<h1>Сбросить пароль</h1>
<div class="col-6">
<%= form_for @changeset, @action, [as: :user], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
<div class="mb-3">
  <%= label f, :email %>
  <%= text_input f, :email, class: "form-control" %>
  <%= error_tag f, :email %>
</div>
  <div>
    <%= submit "Сбросить", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
