<h1>Редактировать процедуру</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.tender_path(@conn, :update, @tender)) %>

<span><%= link "Назад", to: Routes.tender_path(@conn, :index)%></span>
