<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="container">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
     
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mb-3">
      <%= label f, :tender_id, "Номер" %>
      <%= text_input f, :tender_id, class: "form-control" %>
      <%= error_tag f, :tender_id %>
    </div>
    <div class="col">
      <%= label f, :contact_person, "Контакт" %>
      <%= text_input f, :contact_person, class: "form-control" %>
      <%= error_tag f, :contact_person %>
    </div>
    <div class="col">
      <%= label f, :phone, "Телефон" %>
      <%= text_input f, :phone, class: "form-control" %>
      <%= error_tag f, :phone %>
    </div>
    <div class="col">
      <%= label f, :email %>
      <%= text_input f, :email, class: "form-control" %>
      <%= error_tag f, :email %>
    </div>
    <div class="col">
      <%= label f, :site, "Сайт" %>
      <%= text_input f, :site, class: "form-control" %>
      <%= error_tag f, :site %>
    </div>
  </div>

  <div class="row">
    <div class="mb-3">
      <%= label f, :fax, "Факс" %>
      <%= text_input f, :fax, class: "form-control" %>
      <%= error_tag f, :fax %>
    </div>
    <div class="col">
      <%= label f, :keyword, "Ключевое слово" %>
      <%= text_input f, :keyword, class: "form-control" %>
      <%= error_tag f, :keyword %>
    </div>
    <div class="col">
      <%= label f, :status, "Статус" %>
      <%= text_input f, :status, class: "form-control" %>
      <%= error_tag f, :status %>
    </div>
    <div class="col">
      <%= label f, :tender_link, "Ссылка" %>
      <%= text_input f, :tender_link, class: "form-control" %>
      <%= error_tag f, :tender_link %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-1">
      <%= label f, :org_name, "Компания" %>
    </div>
    <div class="col-11">
      <%= textarea f, :org_name, class: "form-control" %>
      <%= error_tag f, :org_name %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-1">
      <%= label f, :tender_name, "Тендер" %>
    </div>
    <div class="col-11">
      <%= textarea f, :tender_name, class: "form-control" %>
      <%= error_tag f, :tender_name %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-1">
      <%= label f, :city, "Город" %>
    </div>
    <div class="col-11">
      <%= textarea   f, :city, class: "form-control" %>
      <%= error_tag f, :city %>
    </div>
  </div>  
</div>

  <div>
    <%= submit "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>
