

<div class="justify-content-center">


<h1>Результаты поиска</h1>
<%= for tender <- @tenders do %>
<div class="card border-secondary mb-3">
  <div class="card-header" style="background: gainsboro;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
      <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
    </svg>
    Процедура № <%= tender.tender_id %>
  </div>
  <div class="card-body text-secondary">
    <div class="row g-0">
      <div class="col-sm-6 col-md-8">
        <h5 class="card-title" ><%= tender.tender_name %></h5>
        <p class="card-text">
        <td>Источник: <%= tender.site %> <a href="<%= tender.tender_link %>">ссылка на процедуру</a></td>
        </p>
      </div>
      <div class="col-6 col-md-4">
        <div class="container">
          <div class="row row-cols-1">
            <div class="col">
              <p class="lead">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <%= tender.contact_person %>
              </p>
            </div>
            <div class="col">
              <p class="lead">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mailbox" viewBox="0 0 16 16">
                  <path d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z"/>
                  <path d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z"/>
                </svg>
                <a href="mailto:<%= tender.email %>"><%= tender.email %></a>
              </p>
            </div>
            <div class="col">
              <p class="lead">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg>
                <a href="tel:<%= tender.phone %>"><%= tender.phone %></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <td>
      <button type="button" class="btn btn-outline-primary"><%= link "Подробнее", to: Routes.tender_path(@conn, :show, tender) %></button>
      <button type="button" class="btn btn-outline-success"><%= link "Редактировать", to: Routes.tender_path(@conn, :edit, tender) %></button>
      <button type="button" class="btn btn-outline-danger"><%= link "Удалить", to: Routes.tender_path(@conn, :delete, tender, [page: @page, keyword: @keyword]), method: :delete, data: [confirm: "Are you sure?"] %></button>
    </td>
  </div>
</div>
<% end %>





<%= if @max_page_cnt > 1 do %>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <%= for page <- 1..@max_page_cnt do %>
       <h5><%= link "#{page}", to: Routes.tender_path(@conn, :index, [page: page, keyword: @keyword]) %></h5>
        <h6><span style="color: darkgray;">&nbsp;|&nbsp;</span></h6>
      <% end %>
    </ul>
    <div class="pagination justify-content-center">Всего: <%= @count %> </div>
  </nav>
<% end %>
<span style="display: none;"><%= link "New Tender", to: Routes.tender_path(@conn, :new) %></span>

</div>
