<h1>Show Tender</h1>

<ul>

  <li>
    <strong>Tender:</strong>
    <%= @tender.tender_id %>
  </li>

  <li>
    <strong>Org name:</strong>
    <%= @tender.org_name %>
  </li>

  <li>
    <strong>Tender name:</strong>
    <%= @tender.tender_name %>
  </li>

  <li>
    <strong>City:</strong>
    <%= @tender.city %>
  </li>

  <li>
    <strong>Site:</strong>
    <%= @tender.site %>
  </li>

  <li>
    <strong>Contact person:</strong>
    <%= @tender.contact_person %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @tender.email %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @tender.phone %>
  </li>

  <li>
    <strong>Fax:</strong>
    <%= @tender.fax %>
  </li>

  <li>
    <strong>Keyword:</strong>
    <%= @tender.keyword %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @tender.status %>
  </li>

  <li>
    <strong>Tender link:</strong>
    <%= @tender.tender_link %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.tender_path(@conn, :edit, @tender) %></span>
<span><%= link "Back", to: Routes.tender_path(@conn, :index) %></span>
