

<nav class="my-2 my-md-0 me-md-3">
<!--
  <a class="p-2 text-dark" href="/tetders">Процедуры</a>
  <a class="p-2 text-dark" href="#">Enterprise</a>
  <a class="p-2 text-dark" href="#">Support</a>
  <a class="p-2 text-dark" href="#">Pricing</a>
-->
  <%= if Pow.Plug.current_user(@conn) do %>
    <a class="btn btn-outline-primary" href="/tenders">Процедуры</a>
    <a class="p-2 text-dark"><%= @current_user.email %></a>
    <%= link "Выйти", to: Routes.pow_session_path(@conn, :delete), method: :delete %>
  <% else %>
    <%= link "Регистрация", to: Routes.pow_registration_path(@conn, :new) %>
    <%= link "Войти", to: Routes.pow_session_path(@conn, :new) %>

  <% end %>
  <!--
  <a class="btn btn-outline-primary" href="#">Войти</a>
  <a class="btn btn-outline-secondary" href="#">Регистрация</a>
  <a class="btn btn-outline-primary" href="#">Войти</a>
  -->
</nav>

