<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Crawler · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/custom.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/custom.js") %>"></script>
  </head>
 <body class="d-flex flex-column h-100 bg-light">
    

      <nav NAVBAR class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow">
        <a class="navbar-brand" href="#"><i class="fas fa-bolt"></i> Crawler</a>
        <button NAVTOGGLE class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div DROPDOWNMENU class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <%= link "Главная", to: Routes.page_path(@conn, :index), class: "nav-link" %>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "nav-link" %></li>
            <% end %>
          </ul>
          <%= render "_user_menu.html", assigns %>
        </div>
      </nav>



    </header>

    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-6 col-md-2">
          <%= render "_user_left_sidebar.html", assigns %>
        </div>
    
        <div class="col-md-8 justify-content-left">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <%= @inner_content %>
        </div>

        <div class="col-6 col-md-2">
          <%= render "_user_right_sidebar.html", assigns %>
        </div>

      </div>
    </main>

    <footer class="footer bg-dark text-light mt-auto py-4">
      <div class="container">
        <span class="text-muted"><i class="fas fa-bolt"></i> Crawler</span>
      </div>
    </footer>


  </body>
</html>
